.popUpMenu {
  position: absolute;
  width: 150px;
  height: 30px;
  background-color: #6e85b7;
  padding: 12px 8px;
  border-radius: 10px;
  box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.2);
  user-select: none;
}
.popUpWrapper {
  display: flex;
  justify-content: space-around;
}
.confirmTab {
  position: relative;
  width: 90%;
  top: 9px;
  padding: 0 8px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  background-color: #354259;
  color: #f0f0f0;
  border-radius: 0 0 10px 10px;
  box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 0.9rem;
}
.confirmTabAc:hover {
  filter: brightness(1.1);
  box-shadow: 0px 4px 4px 1px #f0f0f0;
  cursor: pointer;
}
.confirmTabAd:hover {
  box-shadow: 0px 4px 4px 1px #f0f0f0;
}
.confirmTabAc:active {
  filter: brightness(0.95);
}
.calendar {
  position: absolute;
  left: 150px;
  top: 0px;
}
.popUpButton {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: #f0f0f0 1.5px solid;
  background-color: #354259;
  cursor: pointer;
}
.popUpButton:hover {
  filter: brightness(1.1);
  box-shadow: 0 0 2px 2px rgba(240, 240, 240, 0.2),
    0 0 3px 3px rgba(240, 240, 240, 0.2), 0 0 4px 4px rgba(240, 240, 240, 0.2);
}
.popUpButton:active {
  filter: brightness(0.95);
}
.nameChangeForm input[type="text"],
.nameChangeForm input[type="submit"] {
  user-select: auto;
  position: relative;
  width: 92%;
  height: 30px;
  margin: 5px 0;
  padding: 0 5px;
  font-size: 0.8rem;
  border-radius: 10px;
}
.nameChangeForm input[type="submit"] {
  height: 40px;
  background-color: #80558c;
  color: white;
  border: none;
}
.todaysDateButton {
  width: 92%;
  height: 30px;
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.2);
  margin: 10px auto;
  border-radius: 10px;
  border: none;
  background-color: #6e85b7;
  color: #f0f0f0;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
  transition: 0.3s;
}
.todaysDateButton:hover {
  filter: brightness(1.1);
}
.todaysDateButton:active {
  filter: brightness(0.95);
}
.img {
  width: 27px;
  margin: 2px;
}
.colorCircle {
  width: 17px;
  margin: 3px;
  height: 17px;
  border: solid 1.5px #f0f0f0;
  border-radius: 15px;
}
.colorBox {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding: 10px 8px 10px 11px;
}
/* trashcan */
.icon-trash {
  width: 26px;
  height: 26px;
  position: relative;
  overflow: hidden;
  margin-left: 2px;
  margin-top: 2px;
}

.icon-trash .trash-lid {
  width: 62%;
  height: 10%;
  position: absolute;
  left: 50%;
  margin-left: -31%;
  top: 10.5%;
  background-color: #f0f0f0;
  border-top-left-radius: 80%;
  border-top-right-radius: 80%;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.icon-trash .trash-lid:after {
  content: "";
  width: 26%;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -13%;
  margin-top: -10%;
  background-color: inherit;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
}

.icon-trash .trash-container {
  width: 56%;
  height: 65%;
  position: absolute;
  left: 50%;
  margin-left: -28%;
  bottom: 10%;
  background-color: #f0f0f0;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}

.icon-trash .trash-container:after {
  content: "";
  width: 110%;
  height: 12%;
  position: absolute;
  left: 50%;
  margin-left: -55%;
  top: 0;
  background-color: inherit;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
}

.icon-trash .trash-line-1 {
  width: 5%;
  height: 50%;
  position: absolute;
  left: 38%;
  margin-left: -2%;
  bottom: 17%;
  background-color: #252527;
}

.icon-trash .trash-line-2 {
  width: 5%;
  height: 50%;
  position: absolute;
  left: 50%;
  margin-left: -2%;
  bottom: 17%;
  background-color: #252527;
}

.icon-trash .trash-line-3 {
  width: 5%;
  height: 50%;
  position: absolute;
  left: 62%;
  margin-left: -2%;
  bottom: 17%;
  background-color: #252527;
}

/* trashcan */
/* pencil */
.pencil {
  width: 4px;
  height: 13px;
  background: #f0f0f0;
  position: relative;
  left: 12px;
  top: 9px;
  transform: rotate(30deg);
}
.pencil::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: #f0f0f0;
  top: -6px;
}
.pencil::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 4px;
  background: #f0f0f0;
  left: 0px;
  bottom: -3px;
  transform: rotate(45deg);
}
/* pencil */
