.leftSide {
  width: 120px;
  padding: 25px;
  height: 750px;
  background-color: #354259;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  overflow-x: hidden;
}
.leftSide h2 {
  font-size: 23px;
  padding: 0;
  margin: 0;
  color: #c4d7e0;
}
.newListButton {
  background-color: #f0f0f0;
  border-radius: 15px;
  text-align: center;
  height: 24px;
  color: #354259;
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 24px;
  vertical-align: sub;
  padding-bottom: 5px;
  margin: 0.8rem 0.2rem;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}
.newListButton:hover {
  filter: brightness(1.1);
}
.newListButton:active {
  filter: brightness(0.95);
}
.containerList {
  background-color: #c4d7e0;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0.2rem;
  border-radius: 15px;
  padding: 0 10px;
  cursor: pointer;
  transition: 0.3s;
}
.containerList:hover {
  filter: brightness(1.1);
}
.containerList:active {
  filter: brightness(0.95);
}
.listName {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  color: #354259;
  font-size: 0.9rem;
  line-height: 30px;
}

.tripleDot {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dotdot {
  width: 3px;
  height: 3px;
  border-radius: 5px;
  margin: 1px 2px;

  background-color: #354259;
}
