.header {
  text-align: center;
  font-size: 24px;
  color: #354259;
  padding: 30px 0 0 0;
  margin: 0;
}

.textTodo {
  box-sizing: border-box;
  width: 450px;
  height: 40px;
  border-radius: 15px;
  margin: 20px 20px 20px 20px;
  padding: 20px 15px;
  border: none;
  font-size: 1rem;
  background-color: #f0f0f0;
  color: #354259;
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.2);
}
.textTodo:focus {
  outline: none;
  filter: brightness(0.98);
}
.submitForm:hover {
  filter: brightness(1.1);
}
.submitForm:active {
  filter: brightness(0.95);
}

.bigSubmitButton {
  width: 450px;
  height: 40px;
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.2);
  margin: 0 20px;
  border-radius: 15px;
  border: none;
  background-color: #80558c;
  color: #f0f0f0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  transition: 0.3s;
}

@media (max-width: 480px) {
  .textTodo {
    width: 90%;
    margin: 20px 5%;
  }
  .bigSubmitButton {
    width: 90%;
    margin: 0 5%;
  }
}
